/**
 * Each block is automatically wrapped in a div
 * with a generated class name that follos the scheme
 * `k-editor-$type-block` You can use this to scope
 * all your css within a block
 */
.k-editor-table-block,
.k-editor-table-smt-block,
.k-editor-table-aoi-block,
/* .k-editor-table-select-block, */
.k-editor-table-kit-block,
.k-editor-table-pack-block,
.k-editor-table-cf8-block {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5em;
}

.k-editor-table-block table,
.k-editor-table-smt-block table,
.k-editor-table-aoi-block table,
/* .k-editor-table-select-block table, */
.k-editor-table-kit-block table,
.k-editor-table-pack-block table,
.k-editor-table-cf8-block table {
  border-spacing: 2px;
  background: #efefef;
  width: 100%;
  table-layout: fixed;
}
.k-editor-table-block th,
.k-editor-table-block td,
.k-editor-table-smt-block th,
.k-editor-table-smt-block td,
.k-editor-table-aoi-block th,
.k-editor-table-aoi-block td,
/* .k-editor-table-select-block th, */
/* .k-editor-table-select-block td, */
.k-editor-table-kit-block th,
.k-editor-table-kit-block td,
.k-editor-table-pack-block th,
.k-editor-table-pack-block td,
.k-editor-table-cf8-block th,
.k-editor-table-cf8-block td {
  text-align: left;
  vertical-align: top;
  background: #fff;
  text-overflow: hidden;
}
.k-editor-table-block th > div,
.k-editor-table-smt-block th > div,
.k-editor-table-aoi-block th > div,
/* .k-editor-table-select-block th > div, */
.k-editor-table-kit-block th > div,
.k-editor-table-pack-block th > div,
.k-editor-table-cf8-block th > div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.k-editor-table-block-column-settings,
.k-editor-table-smt-block-column-settings,
.k-editor-table-aoi-block-column-settings,
/* .k-editor-table-select-block-column-settings, */
.k-editor-table-kit-block-block-column-settings,
.k-editor-table-pack-block-block-column-settings,
.k-editor-table-cf8-block-block-column-settings {
  width: 2.5rem;
  height: 100%;
}
.k-editor-table-block .k-editable,
.k-editor-table-block .k-editable-placeholder,
.k-editor-table-smt-block .k-editable,
.k-editor-table-smt-block .k-editable-placeholder,
.k-editor-table-aoi-block .k-editable,
.k-editor-table-aoi-block .k-editable-placeholder,
/* .k-editor-table-select-block .k-editable, */
/* .k-editor-table-select-block .k-editable-placeholder, */
.k-editor-table-kit-block .k-editable,
.k-editor-table-kit-block .k-editable-placeholder,
.k-editor-table-pack-block .k-editable,
.k-editor-table-pack-block .k-editable-placeholder,
.k-editor-table-cf8-block .k-editable,
.k-editor-table-cf8-block .k-editable-placeholder {
  padding: .25rem .5rem;
  overflow: hidden;
}
.k-editor-table-block th:focus-within,
.k-editor-table-block td:focus-within,
.k-editor-table-smt-block th:focus-within,
.k-editor-table-smt-block td:focus-within,
.k-editor-table-aoi-block th:focus-within,
.k-editor-table-aoi-block td:focus-within,
/* .k-editor-table-select-block th:focus-within, */
/* .k-editor-table-select-block td:focus-within, */
.k-editor-table-kit-block th:focus-within,
.k-editor-table-kit-block td:focus-within,
.k-editor-table-pack-block th:focus-within,
.k-editor-table-pack-block td:focus-within,
.k-editor-table-cf8-block th:focus-within,
.k-editor-table-cf8-block td:focus-within {
  outline: 2px solid #81a2be;
}
.k-editor-table-block-row-options,
.k-editor-table-smt-block-row-options,
.k-editor-table-aoi-block-row-options,
/* .k-editor-table-select-block-row-options, */
.k-editor-table-kit-block-row-options,
.k-editor-table-pack-block-row-options,
.k-editor-table-cf8-block-row-options {
  width: 2.5rem;
  text-align: center;
}
